<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191502626973-t2lj4rvgupopo3uhni4q332qi6agmbb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191502626973-t2lj4rvgupopo3uhni4q332qi6agmbb4</string>
	<key>API_KEY</key>
	<string>AIzaSyAbrek_0nw7AVUD-yJo6vm5H8GKmVSDqvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>191502626973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videoConfTest</string>
	<key>PROJECT_ID</key>
	<string>video-chat-test-c764b</string>
	<key>STORAGE_BUCKET</key>
	<string>video-chat-test-c764b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191502626973:ios:cbc042d973055c6cd0e474</string>
</dict>
</plist>